{% extends "base.html" %}

{% block main %}
    <h1>Manage Products</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div>
            {{ form.code.label }}: {{ form.code }}
        </div>
        <div>
            {{ form.description.label }}: {{ form.description }}
        </div>
        <div>
            {{ form.price.label }}: {{ form.price }}
        </div>
        <div>
            <button type="submit">Add Product</button>
        </div>
    </form>
    <h2>Products</h2>
    <ul>
        {% for product in products %}
            <li>{{ product.description }} - Price: ${{ product.price }}</li>
        {% endfor %}
    </ul>
{% endblock %}